<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<title>TopicTube</title>

		
		<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet/less" type="text/css" href="/include/bootstrap/less/bootstrap.less" />
		<link rel="stylesheet/less" type="text/css" href="/include/bootstrap/less/responsive.less" />
		<link rel="stylesheet/less" type="text/css" href="/style.less" />

		<script type="text/javascript" src="/include/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/include/less-1.3.0.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<h1 style="text-shadow: 0px 1px 1px rgb(255,255,255);"><a href="/">TopicTube</a></h1>
				</div>
			</div>
		</div>