<%- partial('header.ejs') %>
<script type="text/javascript">
	var tags = [];
	var row = -1;
	var rowfill = 3;
	$(document).ready(function() {
		$('a.tag').live('click', function() {
			$.ajax({
				url: 'http://api.duckduckgo.com/?q=' + encodeURIComponent($(this).html()) + '&format=json',
				dataType: 'jsonp',
				success: function(data) {
					tags.push(data);
					if (rowfill == 3) {
						row++;
						rowfill = 0;
						$('#body').append('<div class="row-fluid show-grid" id="' + row + '"></div>');
					}
					var infobox = '<div class="span4 infobox"><div class="innerPadding">';
					if (data.Type == 'A') { // Article
						infobox += '<a href="' + data.AbstractURL + '">'+ '<h2>' + data.Heading + '</h2></a>' + '<p>';
						if (data.Image != '') {
							infobox += '<img src="' + data.Image + '" style="float: right; margin: 5px 0px 10px 10px;" />';
						}
						infobox += data.Abstract + '</p>';
					} else if (data.Type == 'D') { // Disambiguation
						infobox += '<a href="' + data.AbstractURL + '">'+ '<h2>' + data.Heading + '</h2></a>';
						var RelatedTopic = {};
						for (RelatedTopic in data.RelatedTopics) {
							if (typeof(data.RelatedTopics[RelatedTopic].Result) !== 'undefined') {
								infobox += '<p>' + data.RelatedTopics[RelatedTopic].Result + '</p>';
							}
						}
					} else if (data.Type == 'C') { // Category

					} else if (data.Type == 'N') { // Name

					} else if (data.Type == 'E') { // Exclusive

					} else if (data.Type == '') { // Nothing

					}
					infobox +='</div></div>';
					$('.row-fluid#' + row).append($(infobox).hide().fadeIn(500));
					rowfill++;
				}
			});
			return false;
		});
	});
</script>
<div class="container" id="body">
	<div class="row" style="position: relative;">
		<div class="span5">
			<div class="videoWrapper">
				<object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/<%= videoPath %>?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="wmode" value="opaque" /><embed src="http://www.youtube.com/v/<%= videoPath %>?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360" wmode="opaque"></object>
			</div>
		</div>
		<div class="span7 cloud">
			<div class="innerPadding">
				<h3><a class="tag" href="#">Barack Obama</a><br /></h3>
				<h3><a class="tag" href="#">John F. Kennedy</a><br /></h3>
				<h3><a class="tag" href="#">George W. Bush</a><br /></h3>
				<h3><a class="tag" href="#">Pat Robertson</a><br /></h3>
				<h3><a class="tag" href="#">Jimmy Carter</a><br /></h3>
				<h3><a class="tag" href="#">Lance Armstrong</a></h3>
			</div>
			<div style="position: absolute; bottom: 5px; width: 100%; font-size: small; text-align: center; color: #222">Click a tag for more information.</div>
		</div>
	</div>
</div>
<%- partial('footer.ejs') %>