<%- partial('header.ejs', {}) %>
<div class="container" style="margin-top: 60px;">
	<div class="row">
		<div class="span4">
			<div class="videoWrapper">
				<object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/<%= videoPath %>?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/<%= videoPath %>?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
			</div>
		</div>
	</div>
</div>
<%- partial('footer.ejs') %>