.navbar {
	z-index: 1000;
}

.row video {
  width: 100%    !important;
  height: auto   !important;
}

.videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
}
.videoWrapper object,
.videoWrapper embed, 
.videoWrapper iframe {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
}